*, *::before, *::after {
    box-sizing: border-box; 
    font-family: "Courier New", Courier, monospace; 
    background-color:rgb(5, 80, 41);
    color: black;
}

h1 {
    color: aqua;

}

.header {
    position: absolute;
    top: 0; 
    right: 0; 
    width: 100%; 
    text-align: center;
    border: 2px solid palevioletred;
    border-radius: 5px;
    
}

h3 {
    color: aquamarine;
}

.mainThing {
    position: relative; 

}

.sidebarContent {
    border: 2px solid red;
    position: absolute;
    left: 0; 
    top: 0; 
    width: 30em; 
    padding: 0; 
}


body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}
